.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*Shared Color Started*/
.text-primary{
   color: #FD6E0A;
}
.dark-1{
    color:#181818
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 36px;
    border-radius: 5px;
}
/*Shared Color Ended*/
/*Header Started*/
.header{
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}
/*Header Ended*/

/*Nav Styles Started*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/*Nav Styles Ended*/

/*Banner Styles Started*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
font-size: 85px;
font-weight: bold;
}
.banner-profile-picture{
    width: 580px;
}
/*Banner Styles Ended*/
